
/* Container for gameboard */
#container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}

/* Div inside container (gamepices/buttons) */
#container>div{
    display: grid;
    background-color: darkcyan;
    border: solid black 1px;
    text-align: center;
}

/* Div inside container (Hover effect) */
#container>:hover{
    border: solid black 1px;
    background-color: cadetblue;
    text-align: right;
    cursor: pointer;
}

/* Buttons when game is over */
#menu{
    display: grid;
    justify-content: center;
}

/* header name on the game */
.header{
    text-align: center;
}