#container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    justify-content: center;
}

#container>div{
    display: grid;
    background-color: darkcyan;
    border: solid black 1px;
    text-align: center;
}


#container>:hover{
    border: solid black 1px;
    background-color: cadetblue;
    text-align: right;
    cursor: pointer;
}

#menu{
    display: grid;
    justify-content: center;
}
.header{
    text-align: center;
}